/secrets
tmp_maskinporten_token.txt
credentials*.json
.DS_Store
maskinporten-token-generation/configs/*.json
*config.json
authentication.json
.idea
*.log
.ipynb_checkpoints
*.pem
*.share
/__pycache__
*.pycskyporten-deltashare.ipynb
